.button {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 6px 28px;
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  letter-spacing: 0;
  text-decoration: none;
  transition:
    transform var(--hover-transform),
    background var(--hover-transform),
    color var(--hover-transform);
  border: 0;
}

.button.withIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  cursor: default;
  color: var(--color-light-900);
}

.button:focus-visible {
  outline: 2px solid var(--color-info-700);
}

.primary {
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 #8c61ff59;
}

.primary:hover {
  background: var(--color-accent-300);
}

.primary:active {
  background: var(--color-accent-700);
}

.primary:disabled {
  background: var(--color-accent-900);
}

.secondary {
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 #6d6d6d40;
}

.secondary:hover {
  background: var(--color-dark-100);
}

.secondary:active {
  background: var(--color-dark-500);
}

.secondary:disabled {
  background: var(--color-dark-300);
}

.fullWidth {
  width: 100%;
}
