.button {
  width: fit-content;
  margin-left: auto;
}

.characterList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 135px;
  gap: 16px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.emptyImage {
  max-height: 50dvh;
  max-width: 100%;
}

.emptyText {
  max-width: 600px;

  text-align: center;
  color: var(--color-dark-100);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.errorContent {
  text-align: center;
  max-width: 500px;
  width: 100%;
  padding: 16px;
  background: var(--color-dark-700);
  border-radius: 12px;
  border: 1px solid #313131;
}

.errorPageImage {
  width: 50%;
  height: 100%;
}

.errorTitle {
  color: var(--color-light-500);
  margin-bottom: 1rem;
}

.errorMessage {
  color: var(--color-light-500);
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.resetButton {
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
