.label {
  color: var(--color-dark-100);
}

.inputWrapper {
  width: 100%;
  position: relative;
  outline: transparent;
}

.input {
  width: 100%;
  padding: 6px 12px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  font-family: var(--font-family-primary), serif;
  letter-spacing: 0;
  color: var(--text-color-900);
  border: 1px solid var(--color-dark-300);
  background-color: var(--background-color-900);
  border-radius: 2px;
  transition:
    color var(--hover-transform),
    border-color var(--hover-transform),
    background-color var(--hover-transform);
}

.input.inputError {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.input:focus-within {
  color: var(--text-color-100);
  border-color: transparent;
  outline: 2px solid var(--color-info-700);
  outline-offset: 0;
}

.input:hover {
  color: var(--background-color-100);
  border-color: var(--background-color-100);
  background-color: var(--background-color-700);
}

.input:focus + .iconStart,
.inputWrapper:focus-within .iconStart {
  color: var(--text-color-100);
}

.input::placeholder {
  transition: opacity var(--hover-transform);
}

.input:focus::placeholder {
  opacity: 0;
}

.input.withButtonEnd {
  padding-right: 41px;
}

.input.withIconStart {
  padding-left: 41px;
}

.buttonIconEnd {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color-100);
}

.iconStart {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  width: 20px;
  height: 20px;
  color: var(--background-color-100);
  transition: color var(--hover-transform);
}

.errorText {
  margin-top: 5px;
  color: var(--color-danger-300);
}
