.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.errorContent {
  text-align: center;
  max-width: 500px;
  width: 100%;
  padding: 16px;
  background: var(--color-dark-700);
  border-radius: 12px;
  border: 1px solid #313131;
}

.errorPageImage {
  width: 50%;
  height: 100%;
}

.errorTitle {
  color: var(--color-light-500);
  margin-bottom: 1rem;
}

.errorMessage {
  color: var(--color-light-500);
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.resetButton {
  margin-top: 1rem;
}
