.characterPage {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gridContainer {
  height: 100%;
}
