.characterPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.characterContent {
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
  min-height: 0;
}

.withSelectedCard {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
